# Ignore specific files
.env

# Ignore workspace files and folders
.git

# Ignore IDE files and folders
.idea
.vscode

# Ignore python caches
__pycache__
__pycache__/*
.pytest_cache
.pytest_cache/*

# Ignore python environments
.venv
.venv/*

# Ignore mypy caches
.mypy_cache
.mypy_cache/*

# Ignore python sensitive files
*.pyo
*.pyd
